<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sse.boss.data.dao.TaskExportMapper">

	<!-- 债券现券市场交易情况 -->
	<resultMap id="TaskExportMap" type="sse.boss.core.model.db.TaskExport">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR"/>
        <result column="rowstate" property="rowstate" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>        
        <result column="service_name" property="serviceName" jdbcType="VARCHAR"/>        
        <result column="method_name" property="methodName" jdbcType="VARCHAR"/>     
        <result column="conditions" property="conditions" jdbcType="VARCHAR"/>
        <result column="export_status" property="exportStatus" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_id" property="fileId" jdbcType="VARCHAR"/>
        <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP"/>
        <result column="download_times" property="downloadTimes" jdbcType="INTEGER"/>
        <result column="export_status_name" property="exportStatusName" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="queryExportTasks" parameterType="sse.boss.core.model.db.TaskExport" resultMap="TaskExportMap">
		SELECT * FROM d_task_export
		WHERE ROWSTATE='1' 
		<if test="exportStatus != null and exportStatus != '' ">
			AND export_status = #{exportStatus,jdbcType=VARCHAR}
		</if>
		ORDER BY CREATE_TIME
	</select>
	
	<select id="queryExportList" parameterType="sse.boss.core.model.db.TaskExport" resultMap="TaskExportMap">
		SELECT dte.id, dte.create_time, dte.create_by, dte.last_update_time, dte.last_update_by, 
		  dte.conditions, dte.file_id, dte.file_name, dte.complete_time, dte.download_times, 
		  dte.export_status, gc.name as export_status_name 
		FROM d_task_export dte
		left join g_code gc on gc.pid='8b3c8b98b96711e7858f04cbed4387dd' and gc.value=dte.export_status
		WHERE dte.ROWSTATE='1' 
		<if test="exportStatus != null and exportStatus != '' ">
			AND dte.export_status = #{exportStatus,jdbcType=VARCHAR}
		</if>
		<if test="createBy != null and createBy != '' ">
			AND dte.create_by = #{createBy,jdbcType=VARCHAR}
		</if>
		<if test="fileId != null and fileId != '' ">
			AND dte.file_id = #{fileId,jdbcType=VARCHAR}
		</if>
		ORDER BY dte.CREATE_TIME DESC
	</select>
	
	<insert id="insert" parameterType="sse.boss.core.model.db.TaskExport" >
    	insert into d_task_export (ID, CREATE_TIME, CREATE_BY, LAST_UPDATE_TIME, LAST_UPDATE_BY, ROWSTATE, `VERSION`, 
    	SERVICE_NAME, METHOD_NAME, CONDITIONS, EXPORT_STATUS, DOWNLOAD_TIMES, FILE_NAME)
   		values (#{id,jdbcType=VARCHAR}, now(), #{createBy,jdbcType=VARCHAR}, now(), #{lastUpdateBy,jdbcType=VARCHAR}, 1, 
   		#{version,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR},
   		#{conditions,jdbcType=VARCHAR}, #{exportStatus,jdbcType=VARCHAR}, 0, #{fileName,jdbcType=VARCHAR})
  	</insert>

	<update id="updateExportTasks" parameterType="sse.boss.core.model.db.TaskExport" >
		update d_task_export set 	
		<if test="fileName != null and fileName != '' ">
			file_name = #{fileName,jdbcType=VARCHAR},
		</if>	
		<if test="fileId != null and fileId != '' ">
			file_id = #{fileId,jdbcType=VARCHAR},
		</if>
		<if test="exportStatus != null and exportStatus == '3'.toString() ">
			complete_time = now(),
		</if>			
		<if test="downloadTimes != null and downloadTimes != '' ">
			download_times = #{downloadTimes,jdbcType=VARCHAR},
		</if>			
		<if test="exportStatus != null and exportStatus != '' ">
			export_status = #{exportStatus,jdbcType=VARCHAR},
		</if>			
		<if test="lastUpdateBy != null and lastUpdateBy != '' ">
			last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
		</if>		
		last_update_time = now()
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateDownloadTimes" parameterType="sse.boss.core.model.db.TaskExport" >
		update d_task_export set
		download_times = IFNULL(download_times,0) + 1,
		<if test="lastUpdateBy != null and lastUpdateBy != '' ">
			last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
		</if>
		last_update_time = now()
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<update id="updateStatus" parameterType="java.util.Map" >
		update d_task_export set 
		last_update_time = now(), export_status = #{proStatus}
		where id = #{id,jdbcType=VARCHAR} and export_status = #{preStatus}
	</update>

</mapper>