/* Table Head */
#hotels thead th {
background-color: rgb(81, 130, 187);
color: #fff;
border-bottom-width: 0;
}

/* Column Style */
#hotels td {
color: #000;
}
/* Heading and Column Style */
#hotels tr, #hotels th {
border-width: 1px;
border-style: solid;
border-color: rgb(81, 130, 187);
}

/* Padding and font style */
#hotels td, #hotels th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
font-weight: bold;
}